  <footer>
    <hr />
    <div id="foot_container">   
      <img id="footer_img" src="img/CSUMB_Logo1.png" alt="CSUMB Logo"/>
      <div id = "copyright">
        CST336 Internet Programming. 2019&copy; Sheridan <br />
        <strong> Disclaimer:</strong> The information in this webpage is fictitious. <br />
        It is used for academic purposes only.  
      </div>
    </div>  
  </footer>
</body>
</html>