<% include partials/header.ejs %>

<body>
  <a id ="searchLink" href = "/">Back To Search</a>
  <h1 id ="favHeader">
    Favorite Pics    
  </h1>
  <% rows.forEach(function (row) {%>
    <a class="keywordLink"> <%= row['keyword'] %> </a>
  <% }) %>
  
  <hr>
  <div id="favorites">
    
  </div>
<% include partials/footer.ejs %>